@font-face {
    font-family: 'Azonix';
    src: url('../media/Azonix.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    background-color: #17252A;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    gap: 15px;

}

h1 {
    font-size: 60px;
    padding-left: 20px;
    color: #FEFFFF;
    font-family: 'Azonix';
}

.logoContainer {
    width: 80px;
    height: 80px;
    background-image: url('../media/noun-checklist-6655190.svg');
    background-size: 100px 100px;
    background-position: center center;
    filter: invert(89%) sepia(0%) saturate(944%) hue-rotate(206deg) brightness(110%) contrast(110%);
}


img {
    height: 50px;
}

.outerGrid {
    display: grid;
    grid-template-rows: 120px 1fr;
    height: 100vh;
}

.innerGrid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

nav {
    background-color: #3AAFA9;
    padding: 30px;
}

ul {
    margin-top: 50px;
    list-style-type: none;
}

li {
    margin-bottom: 20px;
    font-size: 40px;
    /* font-family: 'Azonix'; */
}

#content {
    background-color: #DEF2F1;
    display: grid;
    grid-template-rows: repeat(auto-fit, 100px);
}

.task {
    height: 100px;

}

dialog {
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog.active {
    display: grid;
    grid-template-rows: 50px 1fr;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modalBody {
    display: grid;
    grid-template-columns: 200px 1fr;
}

li>button {
    height: 40px;
    width: 200px;
    border: none;
    text-align: right;
    /* border: transparent solid 1px; */ 
    background-color: transparent;  
    font-size: 40px;
    
}
li>button:hover {
    color: gold;
    text-shadow: 0 0 20px gold;
}
li>button:focus {
    outline: none;
}

#addNew {
    height: 60px;
    width: 60px;
    background-image: url(../media/plus.svg);
    background-size: 80px 80px;
    background-position: center center;
    border: none;
    background-color: transparent;
    margin-top: 300px;
    margin-left: 150px;
}

#addNew:hover {
    filter: invert(78%) sepia(50%) saturate(2543%) hue-rotate(3deg) brightness(109%) contrast(105%);
}
#addNew:focus {
    outline: none;
}

.active#low {
    background-color: yellow;
}
.active#medium {
    background-color: orange;
}
.active#high {
    background-color: red;
}